In [ ]:
import pandas as pd

In [ ]:
raw = pd.read_csv("../data/GPT-wiki-intro.csv")

In [ ]:
raw.head()

,id,url,title,wiki_intro,generated_intro,title_len,wiki_intro_len,generated_intro_len,prompt,generated_text,prompt_tokens,generated_text_tokens
0,63064638,https://en.wikipedia.org/wiki/Sexhow%20railway...,Sexhow railway station,Sexhow railway station was a railway station b...,Sexhow railway station was a railway station l...,3,174,78,200 word wikipedia style introduction on 'Sexh...,"located in the town of Sexhow, on the Cumbria...",25,88
1,279621,https://en.wikipedia.org/wiki/Eti%C3%A4inen,Etiäinen,"In Finnish folklore, all places and things, an...","In Finnish folklore, all places and things, an...",1,187,80,200 word wikipedia style introduction on 'Etiä...,"animate or inanimate, have a spirit or ""etiäi...",26,101
2,287229,https://en.wikipedia.org/wiki/Inverse%20functi...,Inverse function theorem,"In mathematics, specifically differential calc...","In mathematics, specifically differential calc...",3,170,59,200 word wikipedia style introduction on 'Inve...,function theorem states that for every real-v...,26,65
3,26712375,https://en.wikipedia.org/wiki/Stepping%20on%20...,Stepping on Roses,is a Japanese shōjo manga series written and i...,is a Japanese shōjo manga series written and i...,3,335,121,200 word wikipedia style introduction on 'Step...,and illustrated by Maki Fujii. The series fol...,26,150
4,38894426,https://en.wikipedia.org/wiki/Rob%20Bradley,Rob Bradley,"Robert Milner ""Rob"" Bradley, Jr. (born August ...","Robert Milner ""Rob"" Bradley, Jr. (born August ...",2,170,136,200 word wikipedia style introduction on 'Rob ...,"29, 1973) is an American former professional ...",28,162

In [ ]:
raw.columns

Index(['id', 'url', 'title', 'wiki_intro', 'generated_intro', 'title_len',
       'wiki_intro_len', 'generated_intro_len', 'prompt', 'generated_text',
       'prompt_tokens', 'generated_text_tokens'],
      dtype='object')

In [ ]:
# Split DataFrame
human_df = raw[['wiki_intro']].copy()
ai_df = raw[[['generated_intro']].copy()

# Assign Labels
human_df['label'] = 0
ai_df['label'] = 1

# Rename columns to 'text'
human_df.rename(columns={'wiki_intro': 'text'}, inplace=True)
ai_df.rename(columns={'generated_intro': 'text'}, inplace=True)

# Concatenate DataFrames
combined_df = pd.concat([human_df, ai_df], ignore_index=True)

# Shuffle rows (optional)
combined_df = combined_df.sample(frac=1).reset_index(drop=True)

# Now, 'combined_df' has two columns: 'text' and 'label'
combined_df.head()

                                                text  label
0  Aston Medical School (AMS) is part of Aston Un...      0
1  Alexander Altmann (April 16, 1906 – June 5, 19...      1
2  Edward Nassour (April 7, 1911 – December 12, 1...      1
3  Ebenezer Rockwood Hoar (February 21, 1816 – Ja...      0
4  Larinioides sclopetarius, commonly called brid...      1

In [ ]:
combined_df.shape

(300000, 2)

In [ ]:
combined_df.to_csv("../data/shuffled_data.csv", index=False)

In [ ]:
df = pd.read_csv("../data/shuffled_data.csv")

In [ ]:
df.head()

                                                text  label
0  Aston Medical School (AMS) is part of Aston Un...      0
1  Alexander Altmann (April 16, 1906 – June 5, 19...      1
2  Edward Nassour (April 7, 1911 – December 12, 1...      1
3  Ebenezer Rockwood Hoar (February 21, 1816 – Ja...      0
4  Larinioides sclopetarius, commonly called brid...      1